@font-face {
    font-family: Sora;
    src: url(../Fonts/Sora-Regular.ttf);   
}
@font-face {
    font-family: Sora2;
    src:url(../Fonts/Sora-ExtraLight.ttf);
}
@font-face {
    font-family: Sora5;
    src: url(../Fonts/Sora-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Sora;
}

.navbar {
font-family: Sora;
}
.solicitar{
    background-color: #6ECAF1 !important;
    border: #6ECAF1 !important;
}
.solicitar:hover {
    background-color: #000000 !important;
}
.borde{
    border: 1px solid black;
    width: 50vw;
    
}
a{
   
    color: rgb(255, 255, 255);
    font-family: "Sora2";
    padding: 0 10px;
}
a:hover{
    font-family: "Sora5";
}
@media screen and (max-width:600px) {
    .contenedor{
        width:85%;
        margin: auto;
    }
}