@font-face {
  font-family: Sora2;
  src:url(../Fonts/Sora-ExtraLight.ttf);
}
@font-face {
  font-family: Sora5;
  src: url(../Fonts/Sora-Bold.ttf);
}
@font-face {
  font-family: Sora;
  src: url(../Fonts/Sora-Regular.ttf);   
}
*{
  font-family: Sora;
}

.navbar {
      font-family: Sora;
      /* color: white; */
}

body {
    margin: 0;
    padding: 0;
   
    font-family: sans-serif;
    /* height: 100vh; */
  }
  .b h1{
    text-align: center;
    transform:translate(0%, 150%);
    color: #767879;
    font-size:xx-large;
  }
  .b p{
    text-align: center;
    transform:translate(0%, 250%);
    color: #a5a5a5;
    font-size: large;
  }
  .b .login-box {
    width: 450px;
    height: 380px;
    background: rgb(255, 254, 254);
    color: #0f9fb8;
    top: 10%;
    left: 30%;
    position: absolute;
    transform: translate(22%, 50%); 
    /* transform: translate(120%, 25%);  */
    /* transform: translate(-50%, -20%); */
    box-sizing: border-box;
    padding: 55px 30px;
  }

  
  .b .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .b .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
 
  .b .login-box input[type="number"]  {
   
    /* background: transparent; */
    outline: bottom;
    height: 40px;
    color: rgb(3, 3, 3);
    font-size: 16px;
    line-height: 20px;
 
  }
  .b .login-box .c label {
    
    font-weight: bold;
    text-align: center;
  }
  .b .login-box .c  input[type="text"]{
    display: block;
    width: 50%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    text-align: center;
    outline: bottom;
    transform: translate(50%, 20%)
  }
  
  .b .login-box input[type="submit"] {
    border-radius: 5px;
    padding: 10px 30px;
    /* text-decoration: none; */
    color: #fff;
    background-color: #46A2FD;
    margin: 0px auto;
    display: block;
    width: 200px;
    text-align: center;
    transition: 0.2s linear all;
    /* border: none;
    outline: none;
    height: 40px;
    background: #0f9fb8;
    color: #fff;
    font-size: 18px;
    border-radius: 6px; */
  }
  
  .b .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #55ff07;
    color: #000;
  }
a{
   
    color: rgb(255, 255, 255);
    font-family: "Sora2";
    padding: 0 10px;
}
a:hover{
    font-family: "Sora5";
}
  
 
  